.know-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.know-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1760px;
  max-width: 100%;
}

.know-title {
  text-align: center;
  color: #381DA8;
}

.know-subtitle {

/* 1920 WEB BODY TEXT */
font-family: 'Figtree';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
/* identical to box height, or 170% */
text-align: center;

/* dark */
color: #080C31;



}

.know-diagram {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.know-diagram img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1400px) {
  .know-container {
    width: 100%;
    padding: 0 40px;
  }
  
  .know-title {
    font-size: 36px;
    line-height: 46px;
  }
  
  .know-subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .know-section {
    padding: 0px 0px 60px;
  }
  
  .know-title {
    font-size: 28px;
    line-height: 36px;
  }
  
  .know-subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}
